
### Data Mining and Machine Learning
###  Edgar Acuna
### Imputation I: Reading the data file and counting the  missing values
#### Dataset: Adult also known as Census, available at the  UCI

In [1]:
import pandas as pd

### Reading the data from the UCI

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', 
    header=None, sep=',',na_values=[' ?'])

df.columns=['v1', 'v2', 'v3', 'v4', 'v5','v6','v7','v8','v9','v10','v11','v12','v13','v14','class']

In [3]:
#Another way to read the data
# Load CSV using Pandas from URL
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
names = ['v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8','v9','v10','v11','v12','v13','v14','class']
data = pd.read_csv(url, names=names,na_values=[' ?'])
print(data.shape) #imprimiendo la dimension de los datos

(32561, 15)

## Reading the data locally

In [4]:
df = pd.read_csv('c://PW-PR/census.csv',sep=',',na_values=[' ?'])

In [5]:
#information about the dataset allowing us to notice that there are  missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 16 columns):
Unnamed: 0        32561 non-null int64
age               32561 non-null int64
employment        30725 non-null object
final-weight      32561 non-null int64
education         32561 non-null object
education.num     32561 non-null int64
marital.status    32561 non-null object
job               30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
gender            32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours.per.week    32561 non-null int64
native.country    31978 non-null object
salary            32561 non-null object
dtypes: int64(7), object(9)
memory usage: 4.0+ MB

Notar que las columnas v2, v7 y v14 tienen distintos numeros de  entradas que las otras columnas debido a que rienen datos faltantes

In [6]:
#imprimiendo los primeros 20 elementos de la tabla
df.head(20)

,Unnamed: 0,age,employment,final-weight,education,education.num,marital.status,job,relationship,race,gender,capital-gain,capital-loss,hours.per.week,native.country,salary
0,1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,5,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,6,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,7,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,8,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,9,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,10,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,11,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,12,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,13,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,14,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,15,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
15,16,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,17,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,18,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,19,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,20,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K

In [7]:
#imprimiendo las ultimas 5 filas de la tabla
df.tail()

,Unnamed: 0,age,employment,final-weight,education,education.num,marital.status,job,relationship,race,gender,capital-gain,capital-loss,hours.per.week,native.country,salary
32556,32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,32561,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [8]:
#Imprimiendo la dimension de los datos
print(df.shape)

(32561, 16)

In [9]:
#cotejando si la tabla tiene missing values
df.isnull()

,Unnamed: 0,age,employment,final-weight,education,education.num,marital.status,job,relationship,race,gender,capital-gain,capital-loss,hours.per.week,native.country,salary
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
32532,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32533,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32534,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32535,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32536,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32537,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32538,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32539,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
32540,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32541,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
32542,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
32543,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32544,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32545,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32546,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32547,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32548,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32549,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32550,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32551,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32552,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32553,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32554,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32555,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32556,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32557,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32558,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32559,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32560,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

Finding the number of table cells containing  missing values

In [10]:
df.isnull().sum().sum()

4262

Finding the columns containing missing values

In [11]:
colmiss=df.columns[df.isnull().any()].tolist()
print colmiss

['employment', 'job', 'native.country']

Finding the number of missings per column

In [12]:
df[colmiss].isnull().sum()

employment        1836
job               1843
native.country     583
dtype: int64

Finding the percentage of missings per column

In [13]:
df[colmiss].isnull().sum()*100/float(len(df))

employment        5.638647
job               5.660146
native.country    1.790486
dtype: float64

In [14]:
#Otra manera de hallar el numero de entradas missings en cada columna
df.apply(lambda x: sum(x.isnull().values), axis = 0)

Unnamed: 0           0
age                  0
employment        1836
final-weight         0
education            0
education.num        0
marital.status       0
job               1843
relationship         0
race                 0
gender               0
capital-gain         0
capital-loss         0
hours.per.week       0
native.country     583
salary               0
dtype: int64

Finding rows containing missing values

In [15]:
rowmiss=df.index[df.isnull().T.any()].tolist()

Finding the number of rows containing missing values

In [16]:
df.isnull().T.any().T.sum()

2399

Finding the percentage of rows with missing values

In [17]:
df.isnull().T.any().sum()*100/float(len(df))

7.3677098369214704

In [18]:
Second method:

SyntaxError: invalid syntax (<ipython-input-18-e39e18ae3d29>, line 1)

In [ ]:
sum(df.apply(lambda x: sum(x.isnull().values), axis = 1)>0)

In [ ]:
Third method:

In [ ]:
sum([True for idx,row in df.iterrows() if any(row.isnull())])

Eliminating records containing missing values

In [ ]:
dfclean=df.dropna()

Size of table after eliminating records withn misssing values

In [ ]:
print dfclean.shape